services:
  # VPN
  vpn:
    container_name: VPN
    build:
      context: .
      dockerfile: Dockerfile
    restart: no
    volumes:
      - ./profile.ovpn:/opt/openvpn/profile.ovpn:ro
    devices:
      - "/dev/net/tun:/dev/net/tun"
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:8888" # Proxy
      - "35001:35001" # SAML callback

  # Proxy
  tinyproxy:
    container_name: Proxy
    image: vimagick/tinyproxy:latest
    network_mode: "service:vpn"
    depends_on:
      - vpn
    restart: unless-stopped

networks:
  default:
    driver: bridge
